{% extends "main.html" %}
{% block content %}
    {% include "header.html" %}
    <div class="container narrow">
        <div class="columns is-centered">
            <div class="column is-half">
                <form method="post" action="{{ url_for('cud_items') }}">
                    <input type="hidden" name="_method" value="POST">
                    <input type="hidden" name="cat_id" value="{{ category.id }}">
                    <div class="field">
                        <label class="label" for="name">Name</label>
                        <input class="control" type="text" name="name" id="name">
                    </div>
                    <div class="field">
                        <label class="label" for="description">Description</label>
                        <textarea class="control" name="description" id="description"></textarea>
                    </div>
                    <button class="button is-primary" type="submit">Create item</button>
                </form>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}
